
/* navbar */
.navbar-default {
    background-color: #64706c;
    color: #ede9ce;
    border-bottom-color: #64706c;
}

/* title */
.navbar-default .navbar-brand {
    color: #ede9ce;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#c7ad88;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color:#ede9ce;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #c7ad88;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color:#c7ad88;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #c7ad88;
    
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ede9ce;
    border-bottom-color: #ede9ce;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c7ad88;
    border-bottom-color: #c7ad88;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #c7ad88;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #ede9ce;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color:#64706c;;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ede9ce;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ede9ce;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c7ad88;
    }
}

nav.navbar-default{
    background-color: rgba(100,112,108,0.9); 
}

.page-divider{
    background-color: #64706c;
    height: 2.5%;
}

.preview{
    height: 7%;
}

.featured-content-area{
    background-color: #ffffff;
    height: 13%;
}

.controls{
    background-color: rgba(147, 83, 71, 0.64);
    height: 1.4%;
    display: flex;
    color: #ede9ce;
}

.carousel-indicators li {
  background-color: #ede9ce;
}
.carousel-indicators .active {
    background-color:#c7ad88;
}

.btn.btn-warning.btn-lg{
    background-color: #935347;
    border: #935347;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    
}

.form-control.input-lg{
    background-color:#ede9ce;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.signup-h2{
    text-align: center;
}

.about-us{
    margin: 0 auto;
}

.subscribe{
    height: 200px;
}

section#footer{
    background-color: #64706c;
    max-width:100%;
    height:9.8%;
    
}

.footer-container{
    margin: 0 auto;
}

#circle-for-icon{
    width: 3.1%;
    height: 1.3%;
    border-radius: 50%;
    border: solid 1px white;
}

.social-media-icons{
    display: flex;
}

.footer-links>ul>li>a{
    color: #ede9ce;
    font: 400 24px Lato;
    text-decoration: none;
}

ul, li.footer-links { list-style-type: none;}

.copyright{
    color: #ede9ce;
    font:24px 'Myriad Pro';
}

#testimonial{
    height: 11.2%;
}

.carousel-inner{
    min-height: 80%;
}

.featured-content-area{
    padding: 40px;
}

.about-us{
    padding: 40px;
}

.carousel-caption h2{
    margin-bottom: 150px;
    color: #f9f8f8;
    font: 400 48px / 60px Lato;
}

.ministry-writeup p{
    color: #333333;
    font: 400 24px / 36px Lato;
    text-align: justify;
}

.ministry-writeup{
    padding-top: 10%;
}

h3 + p{
    color: #ede9ce;
    font: italic 24px Lato;
}

#dance-students{
    background: url(images/Mens-Ministry-Banner.png);
    color: #ede9ce;
    text-align: center;
    
}

#dance-students h4{
    color: #ede9ce;
    font: italic 14px Lato;
}

h4 cite{
    display: block;
}

.testimonials > h3{
    color: #ede9ce;
    font: italic 24px Lato;
}

@media only screen and (min-width:500px){
    .featured-content-men{
        background-color: red;
        display: flex;
    }
}

@media only screen and (min-width:1200px){
    .featured-content-men{
        background-color: red;
        display: block;
    }
}

/**.featured-content-men{
       background-color: red;
       border: solid 5px blue;
       height:750px;     
}**/




